{% extends "basetemplate.html" %}

{% block title %}Eventplanner Register{% endblock %}

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

    body {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }

    .main {
        align-items: center;
    }

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.5) 100%), url("https://images.unsplash.com/photo-1468359601543-843bfaef291a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1474&q=80");
        background-size: auto;
        background-position: center;
        color: #ffff;
    }

    main.intro .box {
        border: 5px solid;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 50%;
        height: 400px;
        background: url("https://img.freepik.com/free-photo/abstract-surface-textures-white-concrete-stone-wall_74190-8189.jpg?w=996&t=st=1686805874~exp=1686806474~hmac=0c9695b7746201064914b0fc4c95b3f56ea4187743ddc39af5242aeb92236709");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin: 40px;
        color: #ffff;
        padding-bottom: 400px;
    }

    .box ul li, .intro p {
        color: #ffff;
    }
</style>
<div class="intro">

    <div class="box">
        <p class="work-heading"></p>
        <h2>Registration</h2>
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Register</button>
            <br/><br/>
        </form>
    </div>

</div>
        {% endblock %}
