{% extends "basetemplate.html" %}

{% block title %}Eventplanner - {{ eventCategory }}{% endblock %}


{% block content %}

<div class="content">
    <h1>{{ eventCategory }}</h1>

    <form action="/events/" method="GET">
        <label for="years">Choose year:</label>
        <input type="hidden" name="category" value="{{ eventCategory }}" />
        <select id="eventYear" name="eventYear">
            {% for year in years %}
            <option value="{{year}}">{{year}}</option>
            {% endfor %}

        </select>
        <button type="submit">Submit</button>

    </form>

    <table style="border: 1px solid black" width="100%">
        <thead>
            <tr style="background-color:#27456e">
                <th style="color: #ffffff">Event Id</th>
                <th style="color: #ffffff">Event Type</th>
                <th style="color: #ffffff">Event Name</th>
                <th style="color: #ffffff">Event Date</th>
                <th style="color: #ffffff">Event Location</th>
                <th></th>
                <th></th>
            </tr>

        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ event.id }}</td>
                <td>{{ event.event_type }}</td>
                <td>{{ event.name_of_event }}</td>
                <td>{{ event.event_date }}</td>
                <td>{{ event.venue }}</td>
                <td><a href="/event_details/?eventId={{ event.id }}">Details</a></td>
                <td><a href="/event_delete/?eventId={{ event.id }}">Delete</a></td>
                <td><a href="/event_edit/?eventId={{ event.id }}">Edit</a></td>

            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No events available</td>
            </tr>
            {% endfor %}
        </tbody>

    </table>
</div>


{% endblock %}