<html>
<head>
    <title>Event List</title>
</head>
<body>
    <h1>Event List</h1>

    <table>
        <thead>
            <tr>
                <th>Event Name</th>
                <th>Event Date</th>
                <th>Event Location</th>
            </tr>
        </thead>
        <tbody>
            {% for event in event %}
            <tr>
                <td>{{ event.name_of_event }}</td>
                <td>{{ event.date }}</td>
                <td>{{ event.venue }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3">No events available</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
