{% extends "basetemplate.html" %}

{% block title %}Eventplanner Home{% endblock %}

{% block content %}

<div class="intro">
    <h1>Shardian Events</h1>
    <p>Events are here! Where are you?</p>
    <form action="/create_event/">
        <input type="submit" class="button" value="Create Event">
    </form>
</div>
<div class="main-content">
    <div class="description">
        <p>
            Platform that provides easy access to events, fest, seminars, hackathons going on or upcoming.
            <br />Students can track event information, important dates and certificates.
            <br />Faculties can track event participants and their achievments.
        </p>
    </div>
    <div class="achievements">
        <div class="work1">
            <i class="fas fa-atom"></i>
            <p class="work-heading">BigDays</p>
            <p class="work-text"></p>
        </div>
        <div class="work2">
            <i class="fas fa-skiing"></i>
            <p class="work-heading">CrazyWe</p>
            <p class="work-text"></p>
        </div>
        <div class="work3">
            <i class="fas fa-ethernet"></i>
            <p class="work-heading">Seminars</p>
            <p class="work-text"></p>
        </div>
    </div>
</div>

{% endblock %}